<footer class="footer">
  <div class="footer-content">
    <div class="copyright">
      © {{ currentYear }}
      <span class="footer-note">
        Nic Carlson forked & adapted from <a href="https://patrickrottman.com" target="_blank" rel="noopener noreferrer">Patrick Rottman</a>
      </span>
    </div>
    <!-- <div class="coffee-button">
      <a href="https://www.buymeacoffee.com/patrickrottman" target="_blank" rel="noopener noreferrer">
        <img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=patrickrottman&button_colour=BD5FFF&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" alt="Buy me a coffee">
      </a>
    </div> -->
    <div class="links">
      <a href="https://github.com/tahonick" target="_blank" rel="noopener noreferrer">
        <mat-icon>code</mat-icon>
        Nic's GitHub
      </a>
      <a href="https://github.com/patrickrottman" target="_blank" rel="noopener noreferrer">
        <mat-icon>code</mat-icon>
        Patrick's GitHub
      </a>
    </div>
  </div>
</footer> 