<div class="section-title">
  <mat-icon>grid_view</mat-icon>
  Inventory
</div>
<div class="inventory-grid">
  <div class="inventory-slot" 
       *ngFor="let index of getSlots(); trackBy: trackByFn"
       [class.has-item]="getItemAtPosition(index)">
    <div class="item" *ngIf="getItemAtPosition(index) as item">
      <img [src]="getItemImageUrl(item.id)" 
           [alt]="'Item ' + item.id"
           loading="lazy"
           decoding="async"
           width="32"
           height="32">
      <div class="item-tooltip">{{ getItemName(item.id) }}</div>
      <span class="quantity" *ngIf="item.q">{{ item.q | number }}</span>
      <span *ngIf="isVariant(item)" class="fuzzy-indicator" title="Item variant">*</span>
      <span *ngIf="isDifferent(item, index)" class="difference-indicator" title="Different in comparison">!</span>
    </div>
  </div>
</div> 